@import "tailwindcss";

@theme {
  --color-primary: #8b5cf6;
  --color-primary-hover: #7c3aed;
  --color-secondary: #10b981;
  --color-dark: #111827;
  --color-light: #f9fafb;
}

body {
  font-family: 'Inter', sans-serif;
  @apply bg-light text-dark antialiased;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold tracking-tight;
}