@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Vibur";
  src: url("/Vibur-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat-VariableFont_wght.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}

*::selection {
  background: #ff4555;
  color: rgb(255, 255, 255);
}

/* * {
  border: red solid 1px;
} */
