@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Vibur";
  src: url("/Vibur-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

*::selection {
  background: #fff045;
  color: rgb(58, 39, 9);
}
